body {
    background-color: black;
}

form {
    position: absolute;
    top: 0;
    left: 675px;
    color: #cb8400;
}

button {
    width: 100px;
    height: 80px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    padding: 5px;
    color: white; /* Set input text color */
    background-color: #cb8400; /* Set input background color */
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 653px
}

#logo-back {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.308);
    color: white;
    font-size: 100px;
    left: 0;
    top: 375px;
    width: 653px;
    height: 170px;
}

#odin-logo {
    position: absolute;
    width: 100px;
    height: auto;
    top: 400px;
    left: 450px;
}