body {
    background-color: black;
}

form {
    position: absolute;
    top: 455px;
    left: 800px;
    color: #ffeece;
}

p {
    width: 925px;
    color: #ffeece;
    font-size: 30px;
    font-weight: bold;
}

button {
    width: 250px;
    height: 50px;
    font-size: 25px;
    color: #ffeece;
    background-color: #342200;
    border-radius: 10%;
    cursor: pointer;
    margin-top: 20px; /* Add margin-top to create space below the form */
}

::placeholder {
    color: #6d4809;
}

:link {
    color: #6d4809;
}

.form-group {
    display: inline-block;
    margin-right: 250px;
    margin-bottom: 20px;
    width: 25%;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 5px;
    color: white;
    background-color: #342200;
    box-sizing: border-box;
    width: 400px; /* Set the desired width for the inputs */
    border-radius: 5%;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

#long-paragraph {
    position: absolute;
    left: 800px;
    top: 100px;
}

#short-paragraph {
    position: absolute;
    left: 800px;
    top: 250px;
}

#account-made {
    width: 300px;
    font-size: 18px;
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 653px
}

#logo-back {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.308);
    color: white;
    font-size: 100px;
    left: 0;
    top: 375px;
    width: 653px;
    height: 170px;
}

#odin-logo {
    position: absolute;
    width: 100px;
    height: auto;
    top: 400px;
    left: 450px;
}

#message {
    display:none;
    position: relative;
    margin-top: 5px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 15px;
  }
