body {
    background-color: black;
}

form {
    position: absolute;
    top: 455px;
    left: 800px;
    color: #cb8400;
}

p {
    width: 925px;
    color: #cb8400;
    font-size: 30px;
    font-weight: bold;
}

button {
    position: absolute;
    top: 250px;
    left: 0;
    width: 250px;
    height: 50px;
    font-size: 25px;
    color: black;
    background-color: #cb8400;
    border-radius: 10%;
    cursor: pointer;
}

.form-group {
    display: inline-block;
    margin-right: 250px;
    vertical-align: top;
    margin-bottom: 20px;
}

.top-column {
    width: 25%;
}

.bottom-column {
    width: 25%;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    display: block;
    padding: 5px;
    color: white;
    background-color: #cb8400;
    box-sizing: border-box;
    width: 400px; /* Set the desired width for the inputs */
    border-radius: 5%;
}

#long-paragraph {
    position: absolute;
    left: 800px;
    top: 100px;
}

#short-paragraph {
    position: absolute;
    left: 800px;
    top: 250px;
}

#account-made {
    position: absolute;
    left: 800px;
    top: 740px;
    font-size: 18px;
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 653px
}

#logo-back {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.308);
    color: white;
    font-size: 100px;
    left: 0;
    top: 375px;
    width: 653px;
    height: 170px;
}

#odin-logo {
    position: absolute;
    width: 100px;
    height: auto;
    top: 400px;
    left: 450px;
}